<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="HandheldFriendly" content="True" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    
    <meta name="google-site-verification" content="xH5va-Q3lKPKE-R_6Eum-flGjhXIO4yISWWaqFiOXzI">
    <meta name="yandex-verification" content="b53dc04c66d0d4e1" />

    <meta name="description" content="Oleg Nagornyy persobal web site" />

    <link href="http://ihun.tumblr.com/rss" type="application/rss+xml" rel="alternate" title="Full RSS Feed" />

    <title>Oleg Nagornyy</title>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">

    <meta property="fb:admins" content="100002320261122"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Oleg Nagornyy" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Oleg Nagornyy" />
    <meta property="og:description" content="Oleg Nagornyy persobal web site" />
    <meta property="og:url" content="http://nagornyy.me" />
    <meta property="og:image" content="<%= BASE_URL %>assets/img/background-main.jpg" />

  </head>
  <body>
    <noscript>
      <strong>I'am sorry but my website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
